<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HotellDLL.Properties.Settings.HotelManagementConnectionString"
            connectionString="Data Source=focusapp.duckdns.org;Initial Catalog=HotelManagement;Persist Security Info=True;User ID=hoteldbmanager;Password=hdbm2k"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>